.search-list {
  list-style: none;
  display: flex;
  margin: 15px;
  width: 100%;
  align-items: center;
}
.class-time {
  font-weight: bold;
  color: #64748b;
}
.box-1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.sub-box {
  display: flex;
  width: 87%;
}
.logo-image {
  height: 25px;
  width: 25px;
  margin: 0px 10px;
}
.title-name {
  margin: 0px 15px;
  font-weight: bold;
  color: #64748b;
}
.url-link {
  margin: 0px 15px;
}
.box-2 {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 20%;
  margin: 15px;
  padding-right: 20px;
}
.deleteButton {
  border: 0px;
  background-color: #ffffff;
}
@media screen and (min-width: 300px) {
  .search-list {
    font-size: 10px;
  }
  .logo-image {
    height: 15px;
    width: 15px;
  }
}
@media screen and (min-width: 568px) {
  .search-list {
    font-size: 12px;
  }
  .logo-image {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 992px) {
  .search-list {
    font-size: 15px;
  }
  .logo-image {
    height: 25px;
    width: 25px;
  }
}
